version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: MongoDB
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/mern
    depends_on:
      - mongo

  frontend:
    build: ./hr-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mongo-data: